Repository ucfcs/Fall2020-Group44, pull requests merged in 2021-04, with the labels that each got.

#173 Issue/167 implement ws
  backend/src/handlers/session.ts
  backend/src/handlers/websocket/README.md
  backend/src/handlers/websocket/startQuestion.ts
  backend/src/handlers/websocket/submit.ts
  backend/src/util/websocket.ts
  frontend/src/App.tsx
  frontend/src/components/creator-modal/multiple-choice/multiple-choice.tsx
  frontend/src/components/export-modal/mock-data.json
  frontend/src/components/home-page/selected-list/selected-list.tsx
  frontend/src/components/present-session/present-footer/present-footer.tsx
  frontend/src/components/present-session/present-preview/present-preview.tsx
  frontend/src/components/present-session/present.tsx
  frontend/src/components/question-select-modal/question-select-modal.scss
  frontend/src/components/question-select-modal/question-select-modal.tsx
  frontend/src/components/session-header/session-header.tsx
  frontend/src/components/session-in-progress/mock-data.json
  frontend/src/components/session-in-progress/question/mock-data.json
  frontend/src/components/session-in-progress/question/question.scss
  frontend/src/components/session-in-progress/question/question.tsx
  frontend/src/components/session-in-progress/session-controls/session-controls.tsx
  frontend/src/components/session-in-progress/session-in-progress.tsx
  frontend/src/components/session-in-progress/session-progress/mock-data.json
  frontend/src/components/session-in-progress/session-progress/session-progress.tsx
  frontend/src/components/session-in-progress/sidebar/sidebar.tsx
  frontend/src/index.scss
  frontend/src/store.js
  frontend/src/types.ts
  frontend/src/util/api.ts
Labels: needs review

#192 Creator form accessiblity
  frontend/src/components/creator-modal/answer-choice/answer-choice.tsx
  frontend/src/components/creator-modal/creator-edit/creator-edit.tsx
  frontend/src/components/creator-modal/creator.scss
  frontend/src/components/creator-modal/multiple-choice/multiple-choice.scss
  frontend/src/components/creator-modal/multiple-choice/multiple-choice.tsx
  frontend/src/components/folder-modal/folder-modal.scss
  frontend/src/components/session-header/session-header.tsx
  frontend/src/components/session-in-progress/sidebar/sidebar.tsx
Labels: frontend

#201 Update frontend to handle authentication from url redirect
  frontend/src/App.tsx
  frontend/src/components/creator-modal/creator.tsx
  frontend/src/components/folder-modal/folder-modal.tsx
  frontend/src/components/home-page/content-tree/content-tree.tsx
  frontend/src/components/home-page/home.tsx
  frontend/src/components/log-in/log-in.tsx
  frontend/src/components/private-route/private-route.tsx
  frontend/src/components/question-select-modal/question-select-modal.tsx
  frontend/src/components/session-in-progress/session-in-progress.tsx
  frontend/src/store.js
  frontend/src/util/api.ts
Labels: frontend

#229 Issue/137 export to canvas calls
  backend/serverless.yml
  frontend/src/components/export-modal/export-modal.scss
  frontend/src/components/export-modal/export-modal.tsx
  frontend/src/components/export-modal/session-dropdown/session-dropdown.scss
  frontend/src/components/export-modal/session-dropdown/session-dropdown.tsx
  frontend/src/types.ts
  frontend/src/util/api.ts
Labels: frontend

#234 Enforce unique keys for question options
  frontend/declarations.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/creator-modal/answer-choice/answer-choice.tsx
  frontend/src/components/creator-modal/creator.tsx
  frontend/src/components/creator-modal/multiple-choice/multiple-choice.tsx
  frontend/src/store.js
  frontend/src/types.ts
Labels: bug, frontend, needs review
