Repository ucfcs/Fall2020-Group44, pull requests merged in 2021-03, with the labels that each got.

#100 Feature/grade export modal
  frontend/public/img/dropdown-closed.svg
  frontend/public/img/dropdown-open.svg
  frontend/src/App.tsx
  frontend/src/components/export-modal/export-modal.scss
  frontend/src/components/export-modal/export-modal.tsx
  frontend/src/components/export-modal/mock-data.json
  frontend/src/components/export-modal/session-dropdown/session-dropdown.scss
  frontend/src/components/export-modal/session-dropdown/session-dropdown.tsx
  frontend/src/components/gradebook/gradebook.tsx
  frontend/src/components/gradebook/session.tsx
  frontend/src/store.js
Labels: frontend

#126 Frontend reorganization and modal change
  frontend/src/App.tsx
  frontend/src/components/creator-modal/creator-answer-types/multiple-choice.scss
  frontend/src/components/creator-modal/creator-answer-types/multiple-choice.tsx
  frontend/src/components/creator-modal/creator-edit/creator-edit.scss
  frontend/src/components/creator-modal/creator-edit/creator-edit.tsx
  frontend/src/components/creator-modal/creator-preview/creator-preview.scss
  frontend/src/components/creator-modal/creator-preview/creator-preview.tsx
  frontend/src/components/creator-modal/creator.scss
  frontend/src/components/creator-modal/creator.tsx
  frontend/src/components/creator-module/creator.tsx
  frontend/src/components/export-modal/export-modal.tsx
  frontend/src/components/folder-modal/folder-modal.scss
  frontend/src/components/folder-modal/folder-modal.tsx
  frontend/src/components/gradebook/session.tsx
  frontend/src/components/home-page/content-tree/content-tree.tsx
  frontend/src/components/home-page/folder-modal/folder-modal.tsx
  frontend/src/components/home-page/question-select/question-select.tsx
  frontend/src/components/modal/modal.scss
  frontend/src/components/modal/modal.tsx
  frontend/src/components/present-session/present-footer/present-footer.scss
  frontend/src/components/present-session/present-footer/present-footer.tsx
  frontend/src/components/present-session/present-preview/present-preview.scss
  frontend/src/components/present-session/present-preview/present-preview.tsx
  frontend/src/components/present-session/present.scss
  frontend/src/components/present-session/present.tsx
  frontend/src/components/question-select-modal/question-select-modal.scss
  frontend/src/components/question-select-modal/question-select-modal.tsx
  frontend/src/components/session-in-progress/question/question.tsx
Labels: frontend

#131 Update question to include title
  backend/src/@types/models/Question.d.ts
  backend/src/handlers/db.ts
  backend/src/handlers/question.ts
  backend/src/models/Question.ts
Labels: backend

#135 Get folder should return only one item
  backend/src/handlers/folder.ts
Labels: bug

#123 Add course API endpoints
  backend/serverless.yml
  backend/src/@types/models/Folder.d.ts
  backend/src/handlers/course.ts
Labels: backend

#143 Rename and update session endpoints
  backend/serverless.yml
  backend/src/@types/models/Collection.d.ts
  backend/src/@types/models/Session.d.ts
  backend/src/handlers/collection.ts
  backend/src/handlers/db.ts
  backend/src/handlers/session.ts
  backend/src/models/Collection.ts
  backend/src/models/Session.ts
  backend/src/models/SessionQuestion.ts
  backend/src/models/index.ts
Labels: backend

#136 Creator api calls
  .gitignore
  backend/docker-compose.yml
  backend/src/config/database.ts
  backend/src/handlers/question.ts
  frontend/src/components/creator-modal/answer-choice/answer-choice.scss
  frontend/src/components/creator-modal/answer-choice/answer-choice.tsx
  frontend/src/components/creator-modal/creator-answer-types/multiple-choice.scss
  frontend/src/components/creator-modal/creator-answer-types/multiple-choice.tsx
  frontend/src/components/creator-modal/creator-edit/creator-edit.tsx
  frontend/src/components/creator-modal/creator-preview/creator-preview.tsx
  frontend/src/components/creator-modal/creator.tsx
  frontend/src/components/creator-modal/multiple-choice/multiple-choice.scss
  frontend/src/components/creator-modal/multiple-choice/multiple-choice.tsx
  frontend/src/components/export-modal/export-modal.tsx
  frontend/src/components/export-modal/mock-data.json
  frontend/src/components/export-modal/session-dropdown/session-dropdown.tsx
  frontend/src/components/gradebook/gradebook.tsx
  frontend/src/components/home-page/question-preview/question-preview.tsx
  frontend/src/components/home-page/question-types/multiple-choice.tsx
  frontend/src/store.js
  frontend/src/types.ts
  frontend/src/util/api.ts
Labels: frontend

#153 Main screen present api
  backend/README.md
  backend/src/handlers/websocket/createRoom.ts
  frontend/public/img/folder-icon.svg
  frontend/src/components/home-page/content-tree/content-tree.tsx
  frontend/src/components/question-select-modal/question-select-modal.scss
  frontend/src/components/question-select-modal/question-select-modal.tsx
  frontend/src/store.js
Labels: frontend

#154 Update Question to include points
  backend/src/@types/models/Question.d.ts
  backend/src/handlers/question.ts
  backend/src/models/Question.ts
Labels: backend

#158 Update creator for points
  frontend/README.md
  frontend/src/components/creator-modal/creator-edit/creator-edit.scss
  frontend/src/components/creator-modal/creator-edit/creator-edit.tsx
  frontend/src/components/present-session/present.tsx
  frontend/src/store.js
Labels: frontend
